#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
hostname: teamserver
chpasswd:
  list: |
     root: $6$rounds=4096$VWYFEWzPPYuQnC2R$/fpeQ6.RWaXCpdaDe6mtNxGdU9vGQ39OU9GqHlClecUx69QV8vuYdIGYj7ybiauD.h9V2EqOhCC7QsotFpNj9/ 
  expire: False

users:
  - name: hera 
    primary_group: hera
    groups: users, admin
    lock_passwd: false
    passwd: $6$rounds=4096$VWYFEWzPPYuQnC2R$/fpeQ6.RWaXCpdaDe6mtNxGdU9vGQ39OU9GqHlClecUx69QV8vuYdIGYj7ybiauD.h9V2EqOhCC7QsotFpNj9/ # mkpasswd --method=SHA-512 --rounds=4096
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel
